.relative{
    position: relative;
}

.white{
    color: white;
}

a{
    display: inline-block;
}

.p-t-b-6{
    padding-top: 6px;
    padding-bottom: 6px;
}

.border-r{
    border-right: 1px solid var(--border__color);
}

.border-l{
    border-left: 1px solid var(--border__color);
}

.jus-center{
    justify-content: center;
}

.jus-end{
    justify-content: end;
}

.ali-center{
    align-items: center;
}
/*=================== header ====================*/
#header{
    background: var(--text__color);
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__body{
    height: 80px;
    align-items: center;
}

.header__search{
    justify-content: end;
}

.header__search-ct{
    margin-right: 55px;
}

.web__logo,
.header__search{
    align-items: center;
    text-decoration: none;
}

.fa-airbnb{
    color: var(--rgb__color--light-red);
    font-size: 3.5rem;
    font-weight: 500;
    margin-right: 8px;
}

.web-logo__content{
    font-size: 2.4rem;
    color: var(--rgb__color--light-red);
    font-weight: bolder;
}

.search__body{
    border: 1px solid var(--border__color);
    border-radius: 50px;
    height: 47px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 
    0px 4px 12px rgb(0 0 0 / 5%);
    align-items: center;
}

.search__body:hover{
    cursor: pointer;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
}

.start__find{
    color: var(--title__color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
}

.header__search-btn{
    background: var(--rgb__color--light-red);
    border-radius: 100%;
    position: absolute;
    right: 3%;
    top: 17%;
}

.header__search-icon{
    padding: 11px;
    color: var(--text__color);
}

.header__nav{
    justify-content: flex-end;
    align-items: center;
}

.header-nav__item a{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--title__color);
}

.header-nav__item{
    padding: 8px 12px;
}

.fa-globe{
    font-weight: bold;
    font-size: 1.6rem;
}

.header-nav__item--end{
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 1px solid var(--border__color);
    border-radius: 50px;
    padding: 4px 0px;
}

.header-nav__item--end:hover{
    box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
    cursor: pointer;
}

.fa-bars{
    font-size: 1.4rem;
    margin-top: 5px;
}

.fa-user-circle{
    font-size: 3rem;
    line-height: 1;
    color: #717171;
    transform: translate(-12%, 5%);
}

.header-nav__item:hover{
    background: var(--hover__color);
    border-radius: 50px;
}
/*=================== header ====================*/


/*=================== slider ====================*/
#slider{
    background: #000000;
    margin-top: 80px;
    padding-bottom: 86px;
}

.slider__notify{
    justify-content: center;
}

.slider__notify a{
    font-size: 1.5rem;
    text-decoration: underline;
    color: var(--text__color);
}

.slider__notify a:hover{
    color: var(--hover__color);
}

.slider__nav{
    color: var(--text__color);
    justify-content: center;
    font-size: 1.6rem;
}

.slider-nav__item:hover{
    cursor: pointer;
    opacity: 0.8;
}

.slider-nav__item:hover .hr1, 
.slider-nav__item:hover .hr2, 
.slider-nav__item:hover .hr3{
    display: block;
}   

@keyframes fadeOut{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.hr1, .hr2, .hr3{
    position: absolute;
    top: 118%;
    left: 50%;
    transform: translate(-50%, -118%);
    width: 15px;
    height: 2px;
    display: block;
    border-radius: 1px;
    background: #fff;
    display: none;
}

.hr1{
    display: block;
}

.customer{
    justify-content: center;
    
}

.about__customer{
    background-color: var(--text__color);
    border-radius: 50px;
    align-items: center;
    font-size: 1.1rem;
}

div[class*="custom__item"]:hover{
    border-radius: 50px;
    background: var(--hover__color);
    cursor: pointer;
}

div[class*="custom__item"]:hover div[class*="border-r"]{
    border: none;
}

.form__control{
    border: none;
    background: transparent;
    outline: none;
}

.customer__choice{
    font-size: 1.3rem;
    opacity: 0.8;
}

.add__customer{
    align-items: center;
}
.search-custom__btn:hover{
    opacity: 0.6;
}

.custom-btn__icon{
    position: absolute;
    top: -10%;
    right: -25%;
    font-size: 1.3rem;
    height: 50px;
    width: 50px;
    padding: 18px 19px;
    background: var(--rgb__color--light-red);
    color: var(--text__color);
    border-radius: 50%;
}

.slider__poster{
    margin-top: 32px;
}

.slider__poster-img{
    width: 100%;
    border-radius: 15px;
    display: block;
}

.poster__ct{
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%,-10%);
    font-size: 3.8rem;
    color: var(--text__color);
}

.ct__item{
    text-align: center;
    line-height: 1.3;
    font-weight: 600;
}

.search__all-btn{
    color: #C6017E;
    font-size: 1.8rem;
    background: #fff;
    border-radius: 50px;
}

.search__all-btn:hover{
    cursor: pointer;
}
/*=================== slider ====================*/


/*================== content ====================*/
.inspiration-for-the-next-trip{
    padding: 80px 0;
    margin-left: -8px;
    margin-right: -8px;
}

.inspiration__item{
    padding: 0 12px;
}

.inspiration__hd{
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--title__color);
    padding-bottom: 36px;
    padding-left: 8px;
}

.inspiration-item__img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: block;
}

.inspiration-item__dct{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 180px;
    padding: 16px;
    color: var(--text__color);
}

.inspiration-item__name{
    font-size: 2.7rem;
    line-height: 1.1;
}

.inspiration-item__distance{
    font-size: 1.5rem;
}

.exploring-experience{
    padding-bottom: 100px;
    margin-left: -8px;
    margin-right: -8px;
}

.exploring__item{
    position: relative;
    padding: 0 12px;
}

.exploring__item-img{
    width: 100%;
    border-radius: 15px;
}

.exploring__item-body{
    position: absolute;
    top: 4%;
    left: 6%;
}

.exploring-item__ct{
    font-size: 4.1rem;
    color: var(--text__color);
    line-height: 1.3;
}

.exploring-item__ct p{
    line-height: 1.3;
}

div[class*="exploring-item__btn"]{
    font-size: 1.6rem;
    border-radius: 15px;
    color: var(--title__color);
    background: var(--text__color);
    text-align: center;
    font-weight: 600;
    padding: 12px 24px;
    max-width: 100%;
}

div[class*="exploring-item__btn"]:hover{
    background: var(--hover__color);
    cursor: pointer;
}

.exploring-item__btn--1{
    width: 140px;
}

.exploring-item__btn--2{
    width: 220px;
}
/*================== content ====================*/


/*================== question ===================*/
.question__img{
    width: 100%;
}

.question__ct{
    position: absolute;
    top: 8%;
    left: 6%;
    font-size: 7.4rem;
    color: var(--text__color);
    line-height: 1.3;
}

.question__ct p{
    line-height: 1.3;
}

.question__btn{
    position: absolute;
    bottom: 12%;
    left: 6%;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--title__color);
    border-radius: 15px;
    background: var(--text__color);
    padding: 14px 24px;
}

.question__btn:hover{
    background: var(--hover__color);
    cursor: pointer;
}
/*================== question ===================*/


/*=================== footer ====================*/
#footer{
    background: var(--fade__color);
}

.problems__list{
    padding: 48px 0;
}

.problem__hd{
    font-weight: bolder;
}

.problem__hd,
.problem__item a{
    font-size: 1.6rem;
    color: var(--title__color);
}

.problem__item:hover{
    cursor: pointer;
}

hr{
    border: 1px solid rgb(221, 221, 221);
}

.footer__license{
    padding: 24px 0;
}

div[class*="license__item"] a{
    font-size: 1.4rem;
    color: var(--title__color);
}

.license__item{
    padding: 0 12px;
}

.license__item--no-style{
    margin-left: 12px;
}

.license__item::before{
    display: block;
    content: "";
    position: absolute;
    background: #000000;
    width: 3px;
    height: 3px;
    left: 0;
    top: 10px;
    border-radius: 100%;
}

.license__item:hover{
    cursor: pointer;
}

.footer__hr{
    display: none;
}

.footer__setting{
    font-size: 14px;
}

.footer__setting-ct{
    text-decoration: underline;
    font-weight: 500;
}

.footer__setting-ct:hover{
    cursor: pointer;
}

.footer__contact-icon{
    color: var(--title__color);
    float: right;
    font-size: 18px;
}
/*=================== footer ====================*/